/* variable css  */
:root {
  --color-body: #f20c0c;
}

/* base */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: #555555;
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding-left: 2rem;
}
.me {
  border: 1px solid #555555;
}
li {
  margin-bottom: 1rem;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding: 1rem 2rem;
}
.category {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5b6c78;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.grid_item {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .grid_item {
   max-width: 50%;
  }
}

/* section  */

section {
  padding: 5.5rem 0;
}
.section-header {
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  font-size: 3.8rem;
  color: #000;
}
@media screen and (min-width: 750px) {
  .section-title {
    text-transform: uppercase;
    font-size: 4.8rem;
    color: #000;
  }
}

.header {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .logo {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}
/*.navbar {
  display: none;
 /* }  */
.header li {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}
.header a {
  color: #333;
}
a:hover {
  color: blue;
  transform: scale(1.2);
}
svg:hover {
  transform: scale(1.2);
}
.header .right {
  display: flex;
  align-items: center;
}
.socials {
  display: flex;
}
.socials li {
  margin-bottom: 0;
}
.socials a {
  padding: 0 2px;
}
.socials .icon {
  height: 25px;
}

@media screen and (min-width: 750px) {
  .socials .icon {
    height: 30px;
  }
  header a {
    font-size: 2rem;
  }
}

.burger {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}
.burger .bar {
  display: block;
  width: 22px;
  height: 3px;
  background: #333;
}
.burger .bar::before,
.burger .bar::after {
  display: block;
  content: "";
  width: 22px;
  height: 3px;
  background: #333;
  position: absolute;
}
.burger .bar::before {
  transform: translateY(-8px);
}
.burger .bar::after {
  transform: translateY(8px);
}
/* media queries pour le menu nav pour ecran mobile  */
@media screen and (max-width: 799px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 110%;
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: calc(100vh - 55px);
    background: #f5f5f5;
    transition: all .4s ease-out; 
  } 

  nav .menu li {
    display: flex;
    justify-content: center;
  }
  nav .menu a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    transition: all .4s;
  }
  .show-nav nav {
    opacity: 1;
    width: 100%;
    left: 0;
    z-index: 2;
  }
  .show-nav nav li a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  .show-nav .burger .bar {
    width: 0;
  }

  .burger .bar::before,
  .burger .bar::after {
    transition: all .2s ease-out;
  }
 
  .show-nav .burger .bar::before {
    transform: rotate(-45deg);
  }
  .show-nav .burger .bar::after {
    transform: rotate(45deg);
  }
}
/* menu nav pour ecran après mobile  */
@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
  }
  .burger {
    display: none;
  }
}

.hero {
  background: #5b6c78;
  color: #fff;
  padding: 1rem 0 0 0;
}
.hero .title {
  color: inherit;
  font-size: 4rem;
  margin: 1.6rem 0 0 0;
}

.hero_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero_item span {
  text-transform: uppercase;
}
.hero_item.left {
  animation-duration: 1s;
  animation-name: SlideInLeft;
}
.hero_item.right {
  animation-duration: 1s;
  animation-name: SlideInRight;
}
.hero_avatar img {
    width: 100%;
}
.hero p {
    text-align: start;
    margin: 1.6rem 0 0 0;
}

@media screen and (max-width: 749px) {
  .hero_item.left {
    order: 2;
  }
  .hero_item.right {
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .hero_item {
    flex: 1 0 50%;
    align-items: flex-start;
    text-align: left;
  }
  .hero_item.left {
    align-items: flex-start;
  }
  .hero .title {
    font-size: 5rem;
  }

  .hero_avatar img {
    max-width: 400px;
    border-radius: 50%;
  }
}

.about .section-title {
  margin-top: 2.8rem;
}

.about button {
    font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .about img {
    margin-top: 3rem;
  }
}
/* partie services */

.service_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;

  border: 2px solid #5b6c78;
  border-radius: 50%;
}
.services {
  background: #f5f5f5;
}
.service_content {
  flex: 1;
}
.services h3 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.service_icon svg {
  height: 35px;
}
@media screen and (max-width: 749px) {
  .services {
    text-align: center;
  }
  .service_icon {
    margin: 0 auto;
  }
}

@media screen and (min-width: 750px) {
  .services {
    display: flex;
    align-items: center;
  }
  .service_icon {
    margin: 2rem;
    margin-bottom: 5rem;
  }
}

/* partie "skills" compétences  */

.skills h4,
.skills p {
  margin: 0 0 0.3rem 0;
padding: 2rem;
font-size: 2rem;
}
.skills li {
  background-color: #f5f5f5;
  border-left: 3px solid rgba(91, 107, 120);
  padding: 0.9rem 2rem;
}
.skills .progressbar {
  background: #f5f5f5;
  color: #fff;
  margin-bottom: 1rem;
}
.skills .bar {
  background: #5b6c78;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.bar svg {
    background:none;
    font-size: 12rem;
    
   
    
}




/* partie portfolio  */

.portfolio {
  background: #f5f5f5;
}
.portfolio img.card_image {
    width: 200px;
    height: 200px;
}


.portfolio .grid_item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}
.portfolio .grid_item.hide {
    /* display: none; */
    opacity: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    transition: all .4s ease;
}
.portfolio-filters a {
  color: #333;
  display: flex;
  background: #eee;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.portfolio-filters a.active {
  color: #fff;
  background: #5b6c78;
}

@media screen and (max-width: 749px) {
  .portfolio a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 750px) {
  .portfolio-filters .grid_item {
    max-width: 25%;
    margin-bottom: 0;
  }
  .portfolio .grid_item {
    max-width: 25%;
  }
  .portfolio img.card_image {
    width: 250px;
    height: 300px;
}

}
/* partie modal  */


.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 4;
    transform: scale(0);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
}


.modal.show {
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
}
.modal_content {
   background-color: #fefefe; 
   height: 100vh;
   padding: 5rem 1rem;
   overflow: auto;
   text-align: left;
   font-size: 2rem;
}
.modal_content button {
    font-size: 2rem;
    background: #5b6c78;
    color: #fff;
}
.modal img {
    margin-bottom: 2rem;
    
}
.modal .card_image_modal{
    width: 300px;
    height: 300px;
}


.modal_title {
    margin: 0 0 2rem;
}

.modal_close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: 1px solid #eee;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 3.1rem;
    color: #666;
    cursor: pointer;
}
.modal .grid_item {
max-width: 100%;
margin-bottom: 0;
opacity: 1;
transition: all is ease;
}
.design_p {
    display: flex;
    gap: 10px;
}


  @media screen and (min-width: 750px) {
    .modal .grid_item {
        max-width: 50%;
    }
    .modal_content{
        padding: 3rem;
    }
    .modal img.card_image_modal {
        width: 600px;
        height: 600px;
    }
    
  }


/* partie card  */
.card {
  background: #fff;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  overflow: hidden;
}
.card_inner {
  padding: 2rem;
}
.card_title {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.card_overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 110%;
  transition: all 0.3s;
}
.card_overlay a {
  font-size: 4.5rem;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card:hover .card_overlay {

top: 0;
}
/* partie contact  */
.form {
  max-width: 600px;
  margin: 4rem auto 0 auto;
}
.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea {
  min-height: 200px;
}
.form .btn {
  border: none;
  background: #333;
  color: #fff;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form .btn:hover {
  cursor: pointer;
  background: #000;
}

.contact button:hover{
  cursor: pointer;
  background: #000;
}

.contact button {
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 2rem;
    min-width: 160px;
    text-transform: uppercase;
    background: #333;
    color: #fff;
    border: none;
    height: 4rem;
}
.contact span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}


/* partie footer  */

footer {
  color: #eee;
  background: #5b6c78;
  text-align: center;
  font-size: 1.4rem;
}

footer p {
  margin: 0;
}
footer .grid {
  align-items: center;
} 

footer .socials {
  text-align: left;
  justify-content: space-around;
}
footer .socials li {
  padding: 0.7rem;
  list-style-type: none;
  
}
footer .socials .icon  {
  height: 20px;

}

footer .socials a  {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition: all 1s;
}
footer .socials a:hover {
    cursor: pointer;
  transform: scale(1.2);
  color: #333;
}



@media screen and (min-width: 750px) {
  footer {
    text-align: left;
  }
  footer .grid_item {
    max-width: 33.3333%;
  }
  footer .socials .icon  {
    height: 24px;
  
  }
}

/* animations keyframes  */
@keyframes SlideInLeft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes SlideInRight {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

/* composants  */

